<!DOCTYPE html>
<html<% if (useModernizr) { %> class="no-js"<% } %> lang="">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="Cache-control" content="public">
  <meta name="description" content="<%= appDesc %>">
  <title><%= appName %></title>

  <!-- build:css /css/main.css -->
  <link rel="stylesheet" href="/css/main.css">
  <!-- endbuild -->

  <% if (useModernizr) { %>
  <!-- build:js js/modernizr.min.js -->
  <script src="/src/bower_components/modernizr/modernizr.js"></script>
  <!-- endbuild -->
  <% } %>

  <link rel="apple-touch-icon" sizes="57x57" href="/apple-touch-icon-57x57.png">
  <link rel="apple-touch-icon" sizes="114x114" href="/apple-touch-icon-114x114.png">
  <link rel="apple-touch-icon" sizes="72x72" href="/apple-touch-icon-72x72.png">
  <link rel="apple-touch-icon" sizes="144x144" href="/apple-touch-icon-144x144.png">
  <link rel="apple-touch-icon" sizes="60x60" href="/apple-touch-icon-60x60.png">
  <link rel="apple-touch-icon" sizes="120x120" href="/apple-touch-icon-120x120.png">
  <link rel="apple-touch-icon" sizes="76x76" href="/apple-touch-icon-76x76.png">
  <link rel="apple-touch-icon" sizes="152x152" href="/apple-touch-icon-152x152.png">
  <link rel="apple-touch-icon" sizes="180x180" href="/apple-touch-icon-180x180.png">
  <link rel="icon" type="image/png" href="/favicon-192x192.png" sizes="192x192">
  <link rel="icon" type="image/png" href="/favicon-160x160.png" sizes="160x160">
  <link rel="icon" type="image/png" href="/favicon-96x96.png" sizes="96x96">
  <link rel="icon" type="image/png" href="/favicon-16x16.png" sizes="16x16">
  <link rel="icon" type="image/png" href="/favicon-32x32.png" sizes="32x32">
  <meta name="msapplication-TileColor" content="#232222">
  <meta name="msapplication-TileImage" content="/mstile-144x144.png">

  <!--[if lt IE 9]>
  <!-- build:js_ie /js/ie.js -->
  <script src="/bower_components/html5shiv/dist/html5shiv.min.js"></script>
  <script src="/bower_components/respond/dest/respond.min.js"></script>
  <!-- endbuild -->
  <![endif]-->
</head>
<body">
{% block main_content %}{% endblock %}

<!-- build:js /js/bundle.js -->
<!-- bower:js -->
<script src="src/js/main.js"></script>
<!-- endbower -->
<!-- endbuild -->

<script>(function(e,t,n,r,i,s,o){e["GoogleAnalyticsObject"]=i;e[i]=e[i]||function(){(e[i].q=e[i].q||[]).push(arguments)},e[i].l=1*new Date;s=t.createElement(n),o=t.getElementsByTagName(n)[0];s.async=1;s.src=r;o.parentNode.insertBefore(s,o)})(window,document,"script","//www.google-analytics.com/analytics.js","ga");ga("create","<% analyticsID %>","auto");ga("send","pageview")</script>
</body>
</html>
